.container {
  height: 200px;
  position: relative;
}

.one {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 27%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.two {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 37%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.three {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.del {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 63%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
